@import "./base/bootstrap.scss";
@import "./base/bootstrap-extended.scss";
@import "./base/colors.scss";
@import "./base/components.scss";

// Themes
@import "./base/themes/dark-layout.scss";
@import "./base/themes/bordered-layout.scss";
@import "./base/themes/semi-dark-layout.scss";
// @import './base/custom-rtl.scss';

// React Specific
@import "react/index";

.react-dataTable>div {
  min-height: 130px;
}

.btn-pro {
  padding: 0.786rem 0;
  width  : 50%;
}

.avatar-2 {
  .avatar {
    background-color: white !important
  }
}